html{
  background-image: url(https://i.pinimg.com/originals/2b/e1/81/2be181ce9a01e62dc83ebb9e0a1eabdc.jpg);
  background-size: cover;
}
body{
  /*background-image: url(https://c1.wallpaperflare.com/preview/75/454/400/gold-wrapping-paper-background-golden.jpg);*/
  background-color: rgba(255, 255, 255, 0.8);

}

.App {
  text-align: center;
  padding-top: 16px;
  min-height:100vh;
 
}

.choice{
  transition: all 400ms;
  padding:20px;
  color: aliceblue;
  background-color: rgb(80, 73, 73);
}
.button_div{
  display: flex;
  justify-content: center;
  gap:.5vw;
  background-color: rgb(63, 25, 29);
  padding:10px;
    
}
.item{
 border: 1px solid black;
  padding: 10px;
  width: 50%;
  margin: auto;
  margin-bottom: 15px;
  background-color: rgba(63, 25, 29,0.8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 400ms;
}

h2{
  color: aliceblue;
}
.btnShow{
 margin-bottom: 15px;   
}

/* .details{
  border:1px solid black;
} */
.table_wrapper{
display: flex;


}
table{
  border: 1px solid black;
 border-collapse: collapse;
}
td,th{
  padding:5px;
}

.left{
  text-align:left;
}
.details{
  background-color: rgb(243, 237, 238);
  width: 100%;
  justify-content: center;
  align-items: center;
  
}

@media (max-width: 1025px){
  .items{
    .item{ width:100%;}
  }
}

@media (max-width: 420px){
  .button_div{
    display: flex;
    gap:10;
    .choice{ 
      transform:scale(.8);
    }
  }
}